Pods/
Country.mmdb
geoip.dat
geosite.dat
Carthage
Neko.a
Neko.h
Neko/Resources/dashboard
Neko.app
*.dmg
**/xcuserdata/
.idea
*.pyc
Neko/clash/
.DS_Store
.vscode
Neko/goClash/goClash.h
Neko/goClash/goClash.a
fastlane/report.xml
Neko/Resources/Country.mmdb.gz
Neko/Resources/geoip.dat.gz
Neko/Resources/geosite.dat.gz
.bundle/config
Neko/Resources/com.metacubex.Neko.ProxyConfigHelper.*
sing-box
*.app/**
Neko.app.dSYM.zip
build_derived_data
