name: Neko

on:
  push:
    tags: [ v* ]
  workflow_dispatch:
    inputs:
      logLevel:

jobs:
  build:
    runs-on: macos-26
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: build infos
      run: |
        /usr/libexec/PlistBuddy -c "Set CFBundleVersion $(git rev-list --count HEAD)" Neko/Info.plist
        /usr/libexec/PlistBuddy -c "Set CFBundleShortVersionString $(git describe --tags --abbrev=0)" Neko/Info.plist
        /usr/libexec/PlistBuddy -c "Add gitBranch string $GITHUB_REF_NAME" Neko/Info.plist
        /usr/libexec/PlistBuddy -c "Add gitCommit string ${GITHUB_SHA::7}" Neko/Info.plist
        /usr/libexec/PlistBuddy -c "Add buildTime string $(date +%Y-%m-%d\ %H:%M)" Neko/Info.plist

        /usr/libexec/PlistBuddy -c 'Print CFBundleVersion' Neko/Info.plist
        /usr/libexec/PlistBuddy -c 'Print CFBundleShortVersionString' Neko/Info.plist
        /usr/libexec/PlistBuddy -c 'Print gitBranch' Neko/Info.plist
        /usr/libexec/PlistBuddy -c 'Print gitCommit' Neko/Info.plist
        /usr/libexec/PlistBuddy -c 'Print buildTime' Neko/Info.plist

    - name: install deps
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        bash install_dependency.sh
        xcodebuild -resolvePackageDependencies -project Neko.xcodeproj
        /usr/libexec/PlistBuddy -c 'Print coreVersion' Neko/Info.plist
        

    - name: build
      run: |
        xcodebuild archive -project Neko.xcodeproj -scheme Neko -archivePath archive/Neko.xcarchive -showBuildTimingSummary -allowProvisioningUpdates

    - name: create zip
      run: ditto -c -k --sequesterRsrc --keepParent archive/Neko.xcarchive/Products/Applications/Neko.app "Neko.zip"


    - name: upload Artifact
      uses: actions/upload-artifact@v4
      if: "!startsWith(github.ref, 'refs/tags/')"
      with:
        name: "Neko.zip"
        path: "*.zip"

    - name: load sparkle-repo
      uses: actions/checkout@v4
      if: startsWith(github.ref, 'refs/tags/')
      with:
        ref: sparkle
        path: 'sparkle-repo'

    - name: update sparkle-repo
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'

        rm -f sparkle-repo/*.delta

        cp "Neko.zip" "sparkle-repo/Neko $GITHUB_REF_NAME.zip"
        
        brew install sparkle
        echo '${{ secrets.ED_KEY }}' | $(brew --prefix)/Caskroom/sparkle/2.*/bin/generate_appcast sparkle-repo --maximum-deltas 2 --auto-prune-update-files --ed-key-file -
        
        cd sparkle-repo
        rm -rf old_updates
        
        git checkout --orphan temp-sparkle

        git add -A
        git commit -m "Sparkle updates - $GITHUB_REF_NAME"
      

        git branch -D sparkle
        git checkout -b sparkle
        git branch -D temp-sparkle

        git push --force-with-lease origin sparkle

    - name: upload build to github
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        generate_release_notes: true
        files: |
          Neko.zip
